body {
    font-family: 'Spartan', sans-serif;
    font-size: 15px;
}

.reviews-summary-container {
    display: flex;
    flex-direction: column;
    gap: 30px;
    margin: 110px 110px;
}

.reviews-summary {
    display: flex;
    gap: 120px;
}

.reviews-overview-title {
    color: hsl(300, 43%, 22%);
    font-weight: 700;
    font-size: 30px;
}

.reviews-overview-description {
    margin-top: 10px;
    color: #797878;
}

.reviews-overview {
    flex: 1;
}

.rating-items {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 14px;
    margin: 17px 0;
    align-items: center;
}

.rating-item {
    width: 375px;
    padding: 12px 0;
    background-color: hsl(300, 24%, 96%);
    border-radius: 6px;
    color: hsl(300, 43%, 22%);
    padding-right: 20px;
}

.rating-items .rating-item:first-child {
    align-self: flex-start;
}

.rating-items .rating-item:last-child {
    align-self: flex-end;
}

.review-items {
    display: flex;
    justify-items: center;
    align-items: center;
    gap: 30px;
    color: hsl(0, 0%, 100%);
    margin-top: 15px;
    height: 295px;
}

.starts {
    display: inline-block;
    background-image: url(../images/icon-star.svg);
    width: 100px;
    height: 16px;
    background-repeat: space;
    vertical-align: middle;
    margin: 0 20px;
}

.customer-picture {
    width: 40px;
    height: 40px;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 50%;
    margin-right: 20px;
}

.colton-picture{
    background-image: url(../images/image-colton.jpg);
}

.irene-picture{
    background-image: url(../images/image-irene.jpg);
}

.anna-picture{
    background-image: url(../images/image-anne.jpg);
}

.review-item {
    flex: 1;
    padding: 40px 30px;
    background-color: hsl(300, 43%, 22%);
    border-radius: 10px;
}

.customer-picture {
    float: left;
}

.type-of-customer {
    color: hsl(333, 80%, 67%);
    margin-top: 6px;
}

.customer-review {
    clear: both;
    line-height: 22px;
    margin-top: 40px;
}

.customer-full-name {
    font-weight: 500;
}

.review-item:first-child{
    align-self: flex-start;
}

.review-item:last-child{
    align-self: flex-end;
}
